.conteiner
{
    padding: 10px 10px;
    width: 43%;
    height: 100%;
    border: 1px solid black;
}
.conteiner_vishe1{
    width: 100%;
    height: 200px;
    margin-top: 30px;

}
.conteiner1{
    display: flex;
    justify-content: space-between;
}
.conteiner1 div, .conteiner2 div{
    width: 200px;
    height: 200px;
    background-color: darkblue;
}
.conteiner1 div:nth-child(2){
    height: 300px;
}
.conteiner2{
    display: flex;
    justify-content: space-between;
}



